.header {
  display: flex;
  align-items: center;
  padding: 50px;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: .3s all;

  &[data-transparent=false] {
    padding: 20px 50px;
    background: linear-gradient(90deg, #1b1f22 0%, #101315 100%);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  }

  &[data-hidden=true] {
    transform: translate(0, -100%);
  }

  &__logo_link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;

    p {
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      font-family: 'Nunito', sans-serif !important;
    }

    img {
      margin-right: 10px;
      height: 50px;
      width: 50px;
      object-fit: cover;
    }
  }

  &__links {
    flex: 1 1 auto;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.75);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      svg {
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }
  }

  &__wallet {
    padding: 15px 25px;
    border-radius: 8px;
    background: #1D2022;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;

    svg {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }
}