@import '../../misc/mixin.scss';

.header {
  display: flex;
  align-items: center;
  padding: 50px calc((100% - 1440px) / 2);
  position: sticky;
  top: 0;
  z-index: 999;
  transition: .3s all;

  @include for-specific-size(1440px) {
    padding: 50px;
  }

  @include for-specific-size(940px) {
    padding: 20px 10px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &[data-transparent=false] {
    padding: 20px calc((100% - 1440px) / 2);
    background: linear-gradient(90deg, #1b1f22 0%, #101315 100%);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

    @include for-specific-size(1440px) {
      padding: 20px 50px;
    }

    @include for-specific-size(940px) {
      padding: 20px 10px;
    }
  }

  &[data-hidden=true] {
    transform: translate(0, -100%);

    @include for-specific-size(940px) {
      transform: unset;
    }
  }

  &__burger_button {
    display: none;
    background: none;
    outline: none;
    height: 32px;
    width: 32px;
    border: none;

    svg {
      height: 100%;
      width: 100%;
    }
    @include for-specific-size(940px) {
      z-index: 10;
      display: block;
    }
  }

  &__logo_link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    z-index: 10;

    p {
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      font-family: 'Nunito', sans-serif !important;
    }

    img {
      margin-right: 10px;
      height: 50px;
      width: 50px;
      object-fit: cover;
    }
  }

  &__links {
    flex: 1 1 auto;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    justify-content: space-between;

    @include for-specific-size(1280px) {
      margin-left: 75px;
      margin-right: 75px;
    }


    @include for-specific-size(1040px) {
      margin-left: 25px;
      margin-right: 25px;
    }

    @include for-specific-size(940px){
      margin: 0;
      position: fixed !important;
      left: 0 !important;
      top: 0 !important;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      padding: 120px 30px 30px 30px;
      transform: translate(100%, 0);
      background: linear-gradient(90deg, #1b1f22 0%, #101315 100%);
      row-gap: 20px;
      align-items: center;
      justify-content: flex-start;
    }

    &[data-open=true] {
      @include for-specific-size(940px) {
        transform: translate(0, 0);
      }
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.75);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      svg {
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }
  }

  &__wallet_desktop {
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 8px;
    background: #1D2022;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;

    svg {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }

    @include for-specific-size(940px){
      display: none;
    }
  }

  &__wallet_mobile {
    display: none;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 8px;
    background: #1D2022;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;

    @include for-specific-size(940px){
      display: flex;
    }

    svg {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }
}