@import '../../misc/mixin.scss';
@import '../../misc/variables.scss';

.title__mob {
  display: none;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
  text-align: center;
  @include for-specific-size(900px){
    display: block;
  }
}
.statistics {
  border-radius: 29.255px;
  background: linear-gradient(81deg, #0F1113 0%, #16191C 100%);
  box-shadow: 0px -1.950331211090088px 0px 0px rgba(0, 0, 0, 0.16) inset, 0px 1.950331211090088px 0px 0px rgba(255, 255, 255, 0.10) inset;
  padding: 27px 40px 42px;
  margin-bottom: 180px;
  position: relative;
  @include for-specific-size(900px) {
    margin: 30px 20px 50px;
    padding: 24px 11px 30px;
  }
  &:before {
    z-index: -1;
    content: "";
    position: absolute;
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 39.007px;
    background: #161818;
    box-shadow: 0px 3.9006624222px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px -1.9503312111px 0px 0px rgba(255, 255, 255, 0.16) inset;
  }

  .statistics__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    @include for-specific-size(900px){
      flex-direction: column-reverse;
      gap: 20px;
    }
    .statistics__info{
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      font-size: .9em;
      color: white;
      gap: 20px;
      .statistics__tile{
        position: relative;
        border-radius: 8px;
        background: #212528;
        padding: 35px 36px 54px;
        display: flex;
        flex-direction: column;
        gap: 44px;
        overflow: hidden;
        flex: 1 1 48%;
        svg{
          left: 0;
          bottom: 0;
          width: 100%;
          transform: translate(0, 30%);
          height: 100%;
          position: absolute;
        }
        &:nth-child(3){
          background: linear-gradient(323deg, #A51FFF 0%, #615EF5 100%);
        }
        p{
          text-align: center;
        }
        div{
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;
          span{
            color: #fff;
            font-size: 28px;
            font-weight: 700;

          }
        }
      }
    }
    .statistics__container{
      flex: 1 1 100%;
      @include for-specific-size(900px){
        width: 100%;
      }
      button{
        padding: 20px 0;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #000;
        background: var(--3, linear-gradient(111deg, #423EFA 0%, #B61AFF 100%));
        /* 2 */
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        color: #0D0D0D;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        @include for-specific-size(900px){
          padding: 11px 0;
        }
      }
      .available__withdraw{
        color: rgba(255, 255, 255, 0.59);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 24px;
      }
      .available__withdraw__amount {
        margin-bottom: 25px;
        span{
          color: #fff;
          font-weight: 600;
          font-size: 25px;
          margin-bottom: 11px;
          display: block;
        }
        hr{
          border: none;
          height: 2px;
          background-color: #4B60FB;
          width: 100%;
        }
      }
      .title{
        color: #fff;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 18px;
        @include for-specific-size(900px){
          display: none;
        }
      }

      .statistics__withdraw {
        margin-bottom: 32px;
        display: flex;
        gap: 8px;
        padding-left: 20px;
        flex-direction: column;
        @include for-specific-size(900px){
          padding-left: 0;
        }
        .statistics__withdraw__tile{
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 8px;
          background-color: #202528;
          padding: 7px 13px 9px 20px;
          @include for-specific-size(900px){
            background: #131619;
          }
          span{
            &:first-child{
              color: rgba(255, 255, 255, 0.75);
              font-size: 14px;
              font-weight: 400;
              @include for-specific-size(900px){
                font-size: 10px;
              }
            }
            &:last-child{
              display: flex;
              align-items: center;
              gap: 14px;
              color: #fff;
              font-size: 22px;
              font-weight: 800;
              @include for-specific-size(900px){
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
