.deposit {
  margin-bottom: 70px;
  border-radius: 29.255px;
  background: linear-gradient(315deg, #0F1113 0%, #212528 100%);
  box-shadow: 0px -1.950331211090088px 0px 0px rgba(0, 0, 0, 0.16) inset, 0px 1.950331211090088px 0px 0px rgba(255, 255, 255, 0.10) inset;
  padding: 12px 15px 36px 55px;
  position: relative;
  &:before {
    z-index: -1;
    content: "";
    position: absolute;
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 39.007px;
    background: #161818;
    box-shadow: 0px 3.9006624222px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px -1.9503312111px 0px 0px rgba(255, 255, 255, 0.16) inset;
  }

  h1{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 13px;
  }
  table {
    width: 100%;
    tr {
      hr{
        border-radius: 8px;
        background: #282B33;
        height: 1px;
        width: 100%;
        border: none;
      }
    }
    .title{
      color: rgba(255, 255, 255, 0.50);
      font-size: 16px;
      font-weight: 400;
      padding: 12px 0;
      td{
        padding: 12px 0;
      }
    }
    .content{
      color: rgba(255, 255, 255, 0.75);
      font-size: 16px;
      font-weight: 500;
      td{
        padding: 12px 0;
      }
    }
  }
  button{
    cursor: pointer;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    border: none;
    margin: 32px auto 0;
    gap: 10px;
    span{
      font-size: 16px;
      font-weight: 700;
      background: var(--3, linear-gradient(111deg, #423EFA 0%, #B61AFF 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .progress__bar{
    width: 70%;
    position: relative;
    div:first-child{
      position: absolute;
      height: 4px;
      width: var(--progress-width);
      background: var(--3, linear-gradient(111deg, #423EFA 0%, #B61AFF 100%));
      z-index: 1;
    }

    div:last-child{
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #5F6574;
    }
  }
}
