@import '../../misc/mixin.scss';
@import '../../misc/variables.scss';

.toastify {
  position: fixed;
  top: 100vh;
  transform: translate(0, -100%);
  left: 0;
  padding: 40px;
  z-index: 1;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-specific-size(480px) {
    padding: 10px;
    width: 100%;
  }

  &__tile {
    width: 100%;
    color: white;
    backdrop-filter: blur(10px);
    display: flex;
    border-radius: 8px;
    align-items: center;
    padding: 15px 15px 0 10px;
    max-width: 400px;
    border: none;
    background: linear-gradient(332deg, #111416 0%, #1E2225 100%);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

    @include for-specific-size(480px) {
      width: 100%;
    }

    img {
      width: 96px;
      height: 96px;
      object-position: center center;
    }

    a {
      pointer-events: all;
      text-decoration: underline;
      color: var(--main-design-color)
    }

    p {
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      padding-bottom: 12px;
    }


    button {
      cursor: pointer;
      pointer-events: all;
      backdrop-filter: none;
      box-shadow: none;
      background: none;
      padding: 0 0 12px 40px;
      justify-self: flex-end;
      margin-left: auto;
      outline: none;
      color: white;
      border: none;

      svg {
        height: 24px;
        width: 24px;
        color: white !important;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
